body {
  min-width: 1200px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

a {
  user-select: none;
  color: $primary-color;
}

a.normal {
  color: #fff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

pre {
  margin: 0!important;
}

.ant-layout-content {
  flex: auto;
}

.ant-input {
  width: 200px;
}