$main:'main';

$primary-color: #13C2C2;
$default-color: #666;
$font-size-base:14px;

$primary-padding-size:16px;
$primary-border-color:#ddd;

$transition-duration-quick:0.2s;
$transition-duration-slow:0.3s;