$main:'main';

// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small


// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small


$primary-color: #13C2C2;
$default-color: #666;
$font-size-base:14px;

$primary-padding-size:$padding-md;
$primary-border-color:#ddd;

$transition-duration-quick:0.2s;
$transition-duration-slow:0.3s;