@import '../style/variable';
@import '../style/mixin';

.main-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: inherit;
  overflow: auto;

  &-row {
    flex-direction: row;
  }
}

.main-layout-content {
  flex-grow: 1;
  padding: 22px 20px;
}


.main-header {
  text-align: left;
  background-color: #fff;
  padding-left: 0;
  box-shadow: 0 2px 8px #f0f1f2;
  height: 64px;
  line-height: 64px;
  display: flex;
  z-index: 1; // box-shadow某些情况写会被下面的div的盖掉（比如下面的div增加了背景色），所以增加盖参数防止此现象

  &-logo {
    @include sider;
    padding: 0 75px;
    border-right: 1px solid #ddd;

    img {
      margin-top: 5px;
      vertical-align: top;
    }
  }

  &-left {
    flex-grow: 1;

    a.all {
      font-size: 24px;
      padding: 0 17px;
    }
  }

  &-right {

    .help {
      margin: 2px 25px 0 15px;
      font-size: 14px;
    }

    .user-info {
      cursor: pointer;

      .nickname {
        padding-left: 10px;
        color: #fff;
      }
    }
  }
}

.main-content {
  padding: 20px;
  background-color: #fff;

  h1 {
    margin-bottom: 0;
  }
}

.main-footer {
  text-align: center;
  padding: 5px 0;
}

$main-sider: 'main-sider';
$title-line-height:36px;

.#{$main-sider} {
  @include sider;
  height: inherit;
  line-height: $title-line-height;
  border-right: 1px solid #efefef;
  &-menu {
    padding: 20px 0;
    min-height: 100%;
  }

  &-sub-menu {
    min-height: 100%;

    &-li {

      a {
        display: block;
        color: $default-color;
      }

      &.selected a {
        color: $primary-color;
        background-color: rgba($primary-color, 0.15);
      }

      &:hover a {
        color: $primary-color;
      }
    }
  }

  &-menu-title {
    margin: 4px 0 8px;
    padding: 0 16px 0 40px;
  }
}