@import '../style/variable';
@import '../style/mixin';

.main-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: inherit;
  overflow: auto;

  &-row {
    flex-direction: row;
  }
}

.main-layout-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: inherit;
  overflow: auto;
  flex-grow: 1;
  padding: 22px 170px 32px 64px;
}




// .main-content {
//   padding: 20px;
//   background-color: #fff;

//   h1 {
//     margin-bottom: 0;
//   }
// }

.main-footer {
  text-align: center;
  padding: 5px 0;
}