@import '../../style/variable';

@function col-width($n) {
  $wid: $n / 24 * 100%;
  @return $wid;
}

$main-col: $main+'-col';

.#{$main-col} {
  flex-shrink: 0;
}

.#{$main-col}-24 {
  $width: col-width(24);
  flex-basis: $width;
  width: $width;
}

.#{$main-col}-12 {
  $width: col-width(12);
  flex-basis: $width;
  width: $width;
}