@import '../../style/variable';
@import '../../style/mixin';

$main-sider: $main+'-sider';

$title-line-height:36px;

.#{$main-sider} {
  @include sider;
  height: inherit;
  line-height: $title-line-height;
  border-right: 1px solid #efefef;

  &-menu {
    padding: 20px 0;
    min-height: 100%;

    &-title {
      margin: 4px 24px 8px 40px;
      color: rgba($default-color, 0.5);
      border-bottom: 1px solid #f0f0f0;
    }
  }

  &-sub-menu {
    min-height: 100%;

    &-li {

      a {
        display: block;
        color: $default-color;
        transition: all $transition-duration-slow;

        &.active {
          color: $primary-color;
          background-color: rgba($primary-color, 0.15);
        }

        &:hover {
          color: $primary-color;
        }
      }
    }

    &-title {
      margin: 4px 0 8px;
      padding: 0 16px 0 40px;
    }
  }
}