@import "./_reset.scss";
@import "./animate.scss";
@import "./markdown.scss";

#root {
  height: 100%;

  .App {
    height: inherit;

    .ant-layout {
      height: inherit;
    }
  }
}

.text-align-center {
  text-align: center;
}